doctype html
html
	//- Title, CSS files
	include header.pug
	body
		include navbar.pug
		#wrapper
			#page-content
				#ticket-wrapper
					#filter-menu
						.container
							.filter-header
								h4 Ticket categories
							.filter-subheader
								a.list-group-item.list-group-item-info(data-toggle="collapse", role="button", href="#collapse-menu") Categories
								.collapse#collapse-menu
						.list-group
							p.list-group-item.list-group-item-info Categories
							p.list-group-item.list-group-item-action Example1
							p.list-group-item.list-group-item-action Example2
							p.list-group-item.list-group-item-action Example3
					#ticket-display
						- tickets = [];
						each ticket in tickets
							p haha yes, tickets
						else
							p There are no tickets
							img(src="/img/feelsspecial.png", alt="FeelsSpecial")
			#sidenav
				h2 Sidenav content
		
		//- Bootstrap, jQuery, etc.
		include scripts.pug