doctype html
html
	//- Title, CSS files
	include header.pug
	body
		include navbar.pug
		#wrapper
			#page-content
				#ticket-wrapper
					#filter-menu
						.menu-header Ticket categories
						.filter-category
							.category-item.category-header 
								span.octicon.octicon-triangle-right
								| Category
							.category-item Hello yes
							.category-item This is item
							
					#ticket-display
						- tickets = [];
						each ticket in tickets
							p haha yes, tickets
						else
							p There are no tickets
							img(src="/img/feelsspecial.png", alt="FeelsSpecial")
			#sidenav
				h2 Sidenav content
		
		//- Bootstrap, jQuery, etc.
		include scripts.pug