doctype html
html
	//- Title, CSS files
	include header.pug
	body
		include navbar.pug
		#wrapper
			#page-content
				#ticket-wrapper
					#filter-menu
						.menu-header Ticket categories
						.filter-category
							.category-item.category-header 
								span.octicon.octicon-triangle-down
								| Category
							#subheader-wrapper1
								.category-item.category-subheader Porn
									span.badge.badge-secondary.float-right.mr-1 999
								.category-item.category-subheader Not Porn
									span.badge.badge-secondary.float-right.mr-1 1
							.category-item.category-header
								span.octicon.octicon-triangle-down
								| Category 2
							#subheader-wrapper2
								.category-item.category-subheader TPS
									span.badge.badge-secondary.float-right.mr-1 1
								.category-item.category-subheader Stroken
									span.badge.badge-secondary.float-right.mr-1 999
							
					#ticket-display
						- tickets = [];
						each ticket in tickets
							p haha yes, tickets
						else
							p There are no tickets
							img(src="/img/feelsspecial.png", alt="FeelsSpecial")
			#sidenav
				h2 Sidenav content
		
		//- Bootstrap, jQuery, etc.
		include scripts.pug