/* Fix z-index bug with navbar being under #page-content */
nav {
	z-index: 1000;
}

/* Wraps #page-content and #sidenav together */
#wrapper {
	display: flex !important;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	padding-top: 58px;
}

/* Animation for content inside of wrapper */
#wrapper.visible #sidenav {
	max-width: 250px !important;
	min-width: 250px !important;
}

#wrapper.visible #page-content {
	width: calc(100% - 250px);
}

/* Main page content */
#page-content {
	width: 100%;
	min-height: 100%;
	height: 100%;
	transition: width 0.5s ease;
	background-image: url('/img/background.png');
	background-repeat: repeat;
	overflow-y: scroll;
}

/* Settings menu on right */
#sidenav {
	flex: 0 0px;
	max-width: 0px;
	min-width: 0px;
	white-space: nowrap;
	overflow: hidden;

	transition: max-width 0.5s ease;
	transition: width 0.5s ease;
	transition: min-width 0.5s ease;
}

/* Wraps #filter-menu and #ticket-display together */
#ticket-wrapper {
	display: flex !important;
}
#ticket-wrapper > div {
	padding: 8px 16px;
}

/* The ticket filtering menu on the left side of main page */
#filter-menu {
	flex: 0 250px;
}

/* The container for displaying tickets */
#ticket-display {
	flex: 1;
}

#ticket-display-header {
	background-color: rgb(235, 235, 235);
	border-color: rgb(205, 205, 205);
	color: grey;
}

.menu-header {
	font-size: 1em;
	font-weight: bold;
	background-color: lightslategray;
	color: white;
	border: 1px solid dimgray;
	border-radius: 0.5em 0.5em 0 0;
	padding: 0.5em 1em;
}
.menu-header * {
	padding: 0;
}

.filter-category {
	padding: 2px 0;
	background-color: rgb(235, 235, 235);
	color: black;
	font-weight: normal;
	border: 1px solid rgb(205, 205, 205);
	border-top: none;
}

.category-item {
	margin: 4px 0;
}
.category-item > * {
	padding: 5px;
}

.category-header {
	background-color: white;
}

.category-subheader {
	margin-left: 21px;
}
.category-subheader > span {
	margin-top: 1px;
}

.ticket {
	background-color: white;
	min-width: 750px;
	min-height: 64px;
	max-height: 64px;
	border-left: 1px solid rgb(205, 205, 205);
	border-right: 1px solid rgb(205, 205, 205);
	border-bottom: 1px solid rgb(205, 205, 205);
}
.ticket:nth-child(2n+1) {
	background-color: rgb(245,245,245);
}
.ticket .ticket-subject {
	font-size: 18px;
	font-weight: bold;
}

.ticket .ticket-poster {
	font-size: 12px;
	color: grey;
}

.ticket-poster img {
	fill: grey;
}

.truncate-text {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}